<html>
<head>
  <link rel="stylesheet" href="csinfo.css">
  
</head>
<body>


<div class="programpanelouter">
	<div class="programpanelinner bg-white">
		<img class="center" src ="pacific_ocean_perch.png" alt ="Alaska pollock" style="width:300px;">
		<h1>GOA Rockfish</h1>
	</div>
	<div class="programpanelinner bg-dgray">
		<h2> Central Gulf of Alaska Rockfish Program</h2>
	</div>
	<div class="programpanelinfo bg-lgray">
		<h3>Implemented</h3>
		<p>2007-2011 (pilot)</p>
		<p>2012 (full program)</p>
		<h3>Quota species</h3>
		<p>Primary species: northern rockfish, Pacific ocean perch, dusky rockfish </p>
		<p>Secondary species: Pacific cod, rougheye rockfish, shortraker rockfish, sablefish, thornyhead rockfish </p>
		<h3>Management features</h3>
		<p>Sector and cooperative allocations</p>
		<h3>Baseline years for catch share metrics</h3>
		<p>2004-2006</p>
		<h3>More information</h3>
		<ul>
			<li><a href="https://www.fisheries.noaa.gov/alaska/sustainable-fisheries/central-gulf-alaska-goa-rockfish-program" 
			target="_blank">NOAA Fisheries Central Gulf Of Alaska Rockfish Program</a></li>
			<li><a href="https://www.npfmc.org/fisheries-issues/catch-shares-allocations/groundfish-quota-programs/" target="_blank">NPFMC Central Gulf of Alaska Rockfish Program</a></li>
		</ul>
	</div>
</div>


</body>
</html>
