<html>
<head>
  <link rel="stylesheet" href="csinfo.css">
  
</head>
<body>


<div class="programpanelouter">
	<div class="programpanelinner bg-white">
		<img class="center" src ="red_king_crab.png" alt ="Alaska pollock" style="width:300px;">
		<h1>BSAI Crab</h1>
	</div>
	<div class="programpanelinner bg-dgreencrab">
		<h2>Bering Sea and Aleutian Islands Crab Rationalization Program</h2>
	</div>
	<div class="programpanelinfo bg-lgreencrab">
		<h3>Implemented</h3>
		<p>2005</p>
		<h3>Quota species</h3>
		<p>Bering Sea and Aleutian Islands red king crab, golden king crab, blue king crab, Tanner bairdi crab, and Tanner opilio (snow) crab</p>
		<h3>Management features</h3>
		<p>Harvester (vessel owner and crew) and processor allocations, community protection measures</p>
		<h3>Baseline years for catch share metrics</h3>
		<p>Average of 1998/99, 2001/02, and 2004/05 fishing seasons</p>
		<h3>More information</h3>
		<ul>
			<li><a href="https://www.fisheries.noaa.gov/alaska/sustainable-fisheries/bering-sea-and-aleutian-islands-crab-rationalization-program" 
			target="_blank">NOAA Fisheries BSAI Crab Rationalization Program</a></li>
			<li><a href="https://www.npfmc.org/crabrationalization/" target="_blank">NPFMC Crab Rationalization</a></li>
		</ul>
	</div>
</div>
<div class="programdesc">
	<h1 class="bg-dgreencrab">MANAGEMENT CONTEXT</h1>
	<p> The Bering Sea and Aleutian Islands crab fisheries comprise large,
industrial vessels using pot gear and a large-scale onshore processing
sector. The fishery management plan (FMP) governing these fisheries, the
Bering Sea and Aleutian Islands king and Tanner Crab FMP, was approved
by the Secretary of Commerce on June 2, 1989. The FMP establishes a
State/Federal cooperative management regime that defers crab management
to the State of Alaska with Federal oversight. State regulations are
subject to the provisions of the FMP, including its goals and
objectives, the Magnuson-Stevens Act, the National Standards and other
applicable federal laws. The FMP has been amended several times since
its implementation to limit access to the fisheries, establish a vessel
license limitation program, define essential fish habitat and associated
protection measures, amongst other topics.</p>

<p>Managing capacity in these fisheries has been a challenge since the
inception of the FMP. Overcapacity in the Bering Sea and Aleutian
Islands (BSAI) Crab Fishery required season limitations to control catch
levels, with seasons in some fisheries only lasting five days. The
resulting "derby fishery" led to unsafe fishing conditions and
numerous fatalities for crew, particularly in winter months when most
crab fisheries are prosecuted. Harvesting and processing capacity
expanded to accommodate highly abbreviated seasons, leading to further
economic inefficiencies.</p>

<p>To address overcapacity, the North Pacific Fishery Management Council
took a series of actions to limit access to these resources, including a
moratorium on new vessels entering the fishery (1996); a vessel license
limitation program (2000); a capacity reduction (buyback) program
(2004); and, in 2005, the BSAI Crab Rationalization Program. The BSAI
Crab Rationalization Program includes most king and Tanner crab
fisheries in the Bering Sea and Aleutian Islands. The BSAI Crab
Rationalization Program applies to the following Bering Sea and Aleutian
Islands crab fisheries: Bristol Bay red king crab, Western Aleutian
Islands (Adak) golden king crab, Eastern Aleutian Islands golden king
crab, Western Aleutian Islands red king crab, Pribilof Islands red and
blue king crab, St. Matthew Island blue king crab, Bering Sea snow crab,
Eastern Bering Sea Tanner crab and Western Bering Sea Tanner crab.</p>

<p>Prior to implementation of the BSAI Crab Rationalization Program, the
Bering Sea Tanner Crab fishery was closed to fishing due to low stock
abundance. Two fisheries (Western Aleutian Islands red king crab and
Pribilof Island red and blue king crab) have been closed to fishing
throughout the duration of the Crab Rationalization Program. The St.
Matthew Island blue king crab fishery was closed for four of the six
years of the IFQ Program. In the second year of the IFQ Program and
following a stock assessment, the Bering Sea Tanner Crab fishery was
split into the Western and Eastern Bering Sea Tanner Crab fisheries. The
Western Bering Sea Tanner crab fishery was closed for two of the five
years, while the Eastern Bering Sea Tanner Crab fishery was closed for
one year since this split during the IFQ Program.</p>

<h1 class="bg-dgreencrab">PROGRAM OBJECTIVES</h1>

<p>TThe North Pacific Fishery Management Council developed the BSAI Crab
Rationalization Program over a six-year period. In 2005, the BSAI Crab
Rationalization Program was implemented to address the race to harvest,
high bycatch and discard mortality, product quality issues and balance
the interests of those who depend on crab fisheries. The BSAI Crab
Rationalization Program includes share allocations to harvesters and
processors. Processor quota was incorporated to preserve the viability
of processing facilities in dependent communities and particularly to
maintain competitive conditions in ex-vessel markets. Community
interests are protected by Community Development Quota (CDQ) and Adak
Community allocations, and regional landings and processing
requirements, as well as several community protection measures. The
performance indicator information provided herein refers only to the IFQ
component of the BSAI Crab Rationalization Program.</p>

<p>Sablefish quota share can be sold with or without the annual IFQ derived from the quota share.
Catcher vessel quota share can be transferred to other initial issuees or to those who have become
eligible to receive QS by transfer. To be eligible, potential QS/IFQ recipients must be a U.S.
citizen and have worked as part of a harvesting crew in any U.S. commercial fishery for at least
150 days. IFQ can be leased annually to other eligible permit holders under limited circumstances.
Non-individual entities that are not initial issuees are only able to purchase QS or lease IFQ for the
largest vessel class of “catcher/processor” quota (category A). The IFQ Program has a number of
excessive share provisions. There are ownership caps on both individuals as well as entities. No
individual can hold/control more than 1% of sablefish QS in specific areas and combinations of areas.
In addition, vessel use caps limit each vessel to harvesting 1% of the sablefish TAC in specific areas
and combinations of areas. Sablefish CDQ fishing is not subject to the excessive share provisions.
There are also limits on the use of hired skippers through a requirement that the holder of QS be
on board when using CV QS and IFQ. There is also a revolving loan program implemented by the
NPFMC and NOAA Fisheries to assist entry level and small vessel fishermen acquire funding. The
loan program is capitalized through a portion of the cost recovery fees collected.</p>

<h1 class="bg-dgreencrab">KEY EVENTS/FEATURES</h1>

<p>King and Tanner crab are harvested in nine distinct fisheries that are
defined by a combination of species and spatial areas. Uniquely, the
Council was granted special Congressional authority to allocate
processor quota in addition to harvesting quota. IFQ privileges are
delineated as quota shares (that provide the holder a percentage of the
IFQ allocation), which represent the annual harvestable pounds (derived
from the shares) to harvesters, which must be matched with individual
processor quota when making a delivery to a processor. The initial
allocation issued harvest shares to license limitation program (LLP)
crab license holders and crew who were state permit holders (typically
vessel captains) based on creditable historical landings. Processor
shares were issued to processors with specific history in the crab
fisheries. Harvest quota share and processor quota share are
transferable, subject to limitations. Shares issued to LLP crab permit
holders comprise 97% of all harvesting quota share; the remaining 3%
were issued as captain/crew quota share. Both harvest and processor
quota share are split into catcher vessel shares and catcher/processor
shares. Annual individual processing quota is issued in the amounts
matched to the amounts of catcher vessel LLP harvest quota for the nine
fisheries.</p>

<p>This program requires reporting of some economic cost and revenue data
from vessel owners. Processors also submit data on crew costs. These
data were intended to help determine if the program meets Council
objectives over time, including the use of processor quota share.</p>

<p>Section 304(d)(2) of the Magnuson-Stevens Act authorizes the Secretary
to adopt regulations implementing a cost recovery program to recover the
actual costs related to management, data collection and enforcement of a
Limited Access Privilege Program or Community Development Quota Program.
The Magnuson-Stevens Act also allows for additional collections to cover
a loan program that provides assistance for quota share purchase by new
entrants and small vessel owners. These fees can be a maximum of 3% of
the ex-vessel value of the program species. During the Baseline Period,
the cost recovery program was not applicable to the Crab Fishery. The
cost recovery fee for the Crab Program varies each year because by
regulation, the fee percentage is computed at the start of the fishing
season, using prior year costs. This makes it possible to
have years in which no fees are collected, as was the case in 2009/10.
In 2014/15, $1.48 million was collected for the cost recovery program,
less than 1% of IFQ Crab revenue.</p>

<p>The purpose of excessive quota share caps is to prevent quota holders
from controlling production (and processing) as well as achieving
management objectives, per the Magnuson-Stevens Act and the National
Standards. The BSAI Crab Rationalization Program has share caps in place
for all harvester and processor quota share holders. The excessive share
cap varies from 1-20% of initial harvest quota share based on fishery
or area, quota type, and entity type for owner quota share and from
2-20% of initial harvest quota share for crew quota share. Processors
may not hold or use more than 30% of processor shares in each fishery.</p>

<p>The management year begins July 1 and ends June 30 of the following
year. Annual data are for the fishing year (e.g., the 2006/07 fishing
year). Crab quota refers to all of the IFQ fisheries combined.</p>
</div>

</body>
</html>
