<html>
<head>
  <link rel="stylesheet" href="csinfo.css">
  
</head>
<body>


<div class="programpanelouter">
	<div class="programpanelinner bg-white">
		<img class="center" src ="pacific_halibut.png" alt ="Alaska pollock" style="width:300px;">
		<h1>IFQ Halibut</h1>
	</div>
	<div class="programpanelinner bg-dred">
		<h2> North Pacific Halibut IFQ Program</h2>
	</div>
	<div class="programpanelinfo bg-lred">
		<h3>Implemented</h3>
		<p>1995</p>
		<h3>Quota species</h3>
		<p>Halibut caught with longline gear in the directed commercial fishery</p>
		<h3>Management features</h3>
		<p>Allocated to individuals and corporations based on held QS, current TAC, and QS pool in area</p>
		<h3>Baseline years for catch share metrics</h3>
		<p>1992-1994</p>
		<h3>More information</h3>
		<ul>
			<li><a href="https://www.fisheries.noaa.gov/alaska/sustainable-fisheries/pacific-halibut-and-sablefish-individual-fishing-quota-ifq-program" 
			target="_blank">NOAA Fisheries Pacific Halibut and Sablefish Individual Fishing Quota (IFQ) Program in Alaska</a></li>
			<li><a href="https://www.npfmc.org/halibutsablefish-ifq-program/" target="_blank">NPFMC Halibut/Sablefish IFQ Program</a></li>
		</ul>
	</div>
</div>


</body>
</html>
