<html>
<head>
  <link rel="stylesheet" href="csinfo.css">
  
</head>
<body>


<div class="programpanelouter">
	<div class="programpanelinner bg-white">
		<img class="center" src ="sablefish.png" alt ="Alaska pollock" style="width:300px;">
		<h1>IFQ Sablefish</h1>
	</div>
	<div class="programpanelinner bg-dbrown">
		<h2> North Pacific Sablefish IFQ Program</h2>
	</div>
	<div class="programpanelinfo bg-lbrown">
		<h3>Implemented</h3>
		<p>1995</p>
		<h3>Quota species</h3>
		<p>Sablefish (also known as black cod)</p>
		<h3>Management features</h3>
		<p>Allocated to individuals and corporations based on held QS, current TAC, and QS pool in area</p>
		<h3>Baseline years for catch share metrics</h3>
		<p>1992-1994</p>
		<h3>More information</h3>
		<ul>
			<li><a href="https://www.fisheries.noaa.gov/alaska/sustainable-fisheries/pacific-halibut-and-sablefish-individual-fishing-quota-ifq-program" 
			target="_blank">NOAA Fisheries Pacific Halibut and Sablefish Individual Fishing Quota (IFQ) Program in Alaska</a></li>
			<li><a href="https://www.npfmc.org/halibutsablefish-ifq-program/" target="_blank">NPFMC Halibut/Sablefish IFQ Program</a></li>
		</ul>
	</div>
</div>
<div class="programdesc">
	<h1 class="bg-dbrown">MANAGEMENT CONTEXT</h1>
	<p> The North Pacific Sablefish IFQ Program was implemented simultaneously with the North Pacific
Halibut IFQ Program, but they will be assessed separately in this report. Sablefish (also known as
black cod) in the North Pacific are commercially caught by catcher vessels (CVs) that deliver their
catch onshore and catcher/processor vessels (CPs) that catch and process their catch at sea using
longline (hook-and-line, jig, troll, and handline), pot, and trawl gear, but the IFQ program only
applies to longline and pot gears. Twenty percent of the Bering Sea and Aleutian Islands (BSAI)
sablefish total allowable catch (TAC) allocated to vessels using hook-and-line or pot gear and 7.5%
of the sablefish TAC allocated to trawl gear are reserved for use in the Community Development
Quota (CDQ) program. There is not a substantial recreational sector for sablefish in the North
Pacific. Similar to the Halibut IFQ program, this section only examines the performance of the
sablefish IFQ portion of the program.</p>

<p>The sablefish IFQ program was developed by the North Pacific Fishery Management Council
(NPFMC) and implemented by NOAA Fisheries in 1995. The sablefish IFQ program is managed
by the NPFMC, which is responsible for establishing Annual Catch Limits (ACLs) and TACs for
sablefish and allocating TACs among various user groups. Prior to the IFQ program, the fisheries
operated as a derby fishery which often lasted a few days per year in some management areas.
Quota Share (QS) was initially issued to persons based on both historic and recent participation of
persons who, in 1988, 1989, or 1990, owned or leased vessels with qualifying landings. Quota share
were issued in amounts commensurate with creditable landings during the “best five” of 6 years
1985-1990. The primary objectives of the IFQ Program are to 1) eliminate gear conflicts; 2) address
safety concerns; and 3) improve product quality and value.</p>

<p>The Halibut and Sablefish IFQ Program includes a cost recovery provision whereby the fishermen
are assessed a fee based on the cost to the government to manage the program. The costs that can
be recovered include the costs related to management, data collection, and enforcement of a Limited
Access Privilege Program (LAPP) or Community Development Quota Program, and cannot exceed
3% of the total ex-vessel value of the fishery. Cost recovery began in 2000 for sablefish IFQ and has
285
ranged from $0.75 million to $2.32 million and 1.0% to 3% of the ex-vessel value of the fishery, with
2015 and 2016 being the only years the fishery reached the 3% limit.</p>

<h1 class="bg-dbrown">CATCH SHARE PRIVILEGE CHARACTERISTICS</h1>

<p>There are two forms of quota in the sablefish IFQ Program, QS and annual IFQ in pounds derived
from QS. Quota shares are a revocable, indefinite privilege that entitles the holder to a share of the
total area- and vessel class-specific IFQ allocated each year. Quota share holders can be individuals
or non-individuals (such as a corporation). Prior to the beginning of each fishing season, IFQ is
allocated to QS holders based upon their held QS, the total amount of quota in each management
area (QS pool), and the total allowable catch (TAC) in each area. Quota shares and the derived
IFQ are specified for use in particular areas and on vessels of a particular size. These conditions are
intended to maintain a diverse fleet of vessels and limit catch by area. The IFQ program also includes
use caps and small QS blocks that are intended to limit consolidation and maintain participation
opportunities for small operations and new entrants. IFQ are valid only for one year, but there are
provisions that allow QS holders to carry over to the next year up to 10% of their unused IFQ and
any overages (up to 10%) are taken from the following year’s IFQ allocation. There are a total of 18
species and area specific quota allocations with a total of 36 unique types of sablefish QS due to the
existence of blocked and unblocked QS in each area.
.</p>
<p>Sablefish quota share can be sold with or without the annual IFQ derived from the quota share.
Catcher vessel quota share can be transferred to other initial issuees or to those who have become
eligible to receive QS by transfer. To be eligible, potential QS/IFQ recipients must be a U.S.
citizen and have worked as part of a harvesting crew in any U.S. commercial fishery for at least
150 days. IFQ can be leased annually to other eligible permit holders under limited circumstances.
Non-individual entities that are not initial issuees are only able to purchase QS or lease IFQ for the
largest vessel class of “catcher/processor” quota (category A). The IFQ Program has a number of
excessive share provisions. There are ownership caps on both individuals as well as entities. No
individual can hold/control more than 1% of sablefish QS in specific areas and combinations of areas.
In addition, vessel use caps limit each vessel to harvesting 1% of the sablefish TAC in specific areas
and combinations of areas. Sablefish CDQ fishing is not subject to the excessive share provisions.
There are also limits on the use of hired skippers through a requirement that the holder of QS be
on board when using CV QS and IFQ. There is also a revolving loan program implemented by the
NPFMC and NOAA Fisheries to assist entry level and small vessel fishermen acquire funding. The
loan program is capitalized through a portion of the cost recovery fees collected.</p>
</div>

</body>
</html>
